@import "../../../../../assets/scss/vars";

.ApplyHere {
    margin-top: 400px;
    padding-top: 200px;

    background-color: #131313;
}

.ApplyHere_title {
    width: 100%;

    color: #fff;
    font-size: 120px;
    line-height: 107.5%;
    font-family: $fontBranch;
    text-transform: uppercase;
    text-align: center;
}

.ApplyHere_box {
    display: flex;
    margin-top: 190px;
    row-gap: 40px;
    column-gap: 40px;
}