@import "../../../../../assets/scss/vars";

.Cards {
    padding-top: 150px;
    background-color: #131313;
}

.Cards_container {
    position: relative;
}

.Cards_title {
    color: #F6F6F6;
    font-size: 65px;
    line-height: 121.5%;
    font-family: $fontBranch;
    text-align: center;
    text-transform: uppercase;

    & span {
        font-family: $fontOffBT;
    }
}

.Cards_des_box {
    display: flex;
    justify-content: space-between;
    max-width: 600px;
    width: 100%;
    margin: 55px auto 0;
}

.Cards_slashes {
    color: #F6F6F6;
    font-size: 50px;
    font-family: $fontOffBT;

    transform: translateY(-10px);
}

.Cards_des {
    max-width: 230px;
    width: 100%;

    color: #F6F6F6;
    font-size: 15px;
    line-height: 17px;
    font-family: 500;

    opacity: .7;
}

.Cards_content {
    position: relative;
    margin-top: 105px;
    height: 600px;
}

.Cards_content_container {
    position: absolute;
    width: 5000px;
    top: 0;
    left: 0;
    display: flex;
}

.Cards_item {
    position: relative;
    display: flex;
    justify-content: space-between;
    max-width: 340px;
    width: 100%;

    padding: 20px 0 80px;

    z-index: 100;

    & + & {
        margin-left: 55px;
    }
}

.Cards_item_box {
    max-width: 300px;

    opacity: .5;

    z-index: 90;

    &.avtive {
        opacity: 1;
    }
}

.Cards_item_num {
    color: #F6F6F6;
    font-size: 200px;
    line-height: 200px;
    font-family: $fontOffBT;
}

.Cards_item_title {
    margin-top: 30px;
    color: #fff;
    font-size: 40px;
    line-height: 121.5%;
    font-family: $fontBranch;
}

.Cards_item_subtitle {
    margin-top: 20px;

    color: #fff;
    font-size: 15px;
    font-weight: 500;
    line-height: 17px;
}

.Cards_item_border {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    display: flex;
    align-items: center;
    height: 100%;

    &::before, &::after {
        content: '';
        position: absolute;
        left: 50%;
        transform: translateX(-50%);

        width: 1px;
        height: 44%;
        background-color: #fff;
        opacity: .3;
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }
}

.Cards_item_img_container {
    position: absolute;
    right: 40px;
    top: 0;

    height: 540px;
    width: 415px;
    display: flex;
    justify-content: center;
    align-items: center;

    opacity: 0;
}

.Cards_item_btn_container {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;

    bottom: -20px;
    left: -215px;

    transform: translateX();

    opacity: 0;
    mix-blend-mode: difference;
}

.Cards_item_btn {
    min-width: 0;
    width: 115px;
    height: 115px;
    margin-left: 30px;
    padding: 0;

    background-color: #fff;

    border: 0;
    border-radius: 100%;

    mix-blend-mode: difference;
}

.Cards_item_btn_text {
    color: #E2E2E2;
    font-size: 20px;
    font-family: $fontOffBT;
    text-transform: uppercase;
}

.Cards_item_img {
    opacity: 0;
    width: 0px;
    height: 0px;
}

.Cards_item_border_item {
    width: 10px;
    height: 10px;

    transform-origin: center;
    background: linear-gradient(90deg, #F8DBB8 0%, #CCBBE4 46.15%, #9187FF 100%);
    transform: rotate(-45deg);
}

.Cards_container_rings {
    position: absolute;
    top: -335px;
    right: 85px;
    
    z-index: 100;
    pointer-events: none;
    mix-blend-mode: difference;
}