p {
	margin: 0 0 1em;
}

b,
strong {
	font-weight: 700;
}

a {
	outline: 0 none;
	text-decoration: underline;
	transition: all 0.3s;
}

label {
	cursor: pointer;
}

img {
	max-width: 100%;
}

table {
	width: 100%;
	border-spacing: 0;
	border-collapse: collapse;

	th {
		font-weight: inherit;
		font-family: inherit;
	}
}

h1,
h2,
.h1,
.h2 {
	font-family: $fontBranch;
	color: inherit;
}

h1, .h1 {
	font-weight: 400;
	font-size: 120px;
	line-height: 1.07;
	margin: 0 0 34px;
	text-transform: uppercase;
	@media only screen and (max-width: $desktop-l) {
		font-size: get-vw(120px);
		margin: 0 0  get-vw(34px);
	}
	@media only screen and (max-width: $tablet) {
		font-size: get-vw-td(100px);
	}
	@media only screen and (max-width: $mobile) {
		font-size: 36px;
		font-size: get-vw-md(36px);
		margin: 0 0 24px;
	}
}

h2, .h2 {
	font-weight: 400;
	font-size: 40px;
	line-height: 1.2;
	margin: 0 0 23px;
	@media only screen and (max-width: $desktop-l) {
		font-size: get-vw(40px);
		margin: 0 0 get-vw(23px);
	}
	@media only screen and (max-width: $mobile) {
		font-size: 26px;
		margin-bottom: 8px;
	}
}