$desktop-xl: 1920px;
$desktop-xs: 1600px;
$desktop-l: 1440px;
$tablet: 1024px;
$mobile: 768px;
$mobile-s: 480px;

// colors
$white: #fff;
$whiteLight: #D1D1D1;
$whiteLight_1: #F6F6F6;
$black: #000;
$blackLight: #28272F;
$violet: #7265FF;
$gray: #73717C;

$font: "BasisGrotesque", Arial, sans-serif;
$fontBasicGP: "BasisGrotesquePro", Arial, sans-serif;
$fontBranch: "Branch", Arial, sans-serif;
$fontOffBT: "OffBitTrial", Arial, sans-serif;
$fontOffBT101: "OffBitTrial", Arial, sans-serif;
$fontOffBT101: "OffBitTrial101", Arial, sans-serif;
$OffBitTrialSquare: "OffBitTrialSquare", Arial, sans-serif;
$fontPlusJD: "PlusJakartaDisplay", Arial, sans-serif;

@function get-vw($target) {
  $vw-context: (1440 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}

@function get-vw-td($target) {
  $vw-context: (1024 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}

@function get-vw-md($target) {
  $vw-context: (320 * 0.01) * 1px;
  @return ($target / $vw-context) * 1vw;
}

@mixin content {
  content: '';
  position: absolute;
  display: block;
}