$desktop-xl: 1920px;
$desktop-xs: 1600px;
$desktop-l: 1215px;
$tablet: 1024px;
$mobile: 768px;
$mobile-s: 480px;

// colors
$white: #fff;
$whiteLight: #ECECEC;
$black: #000;
$blackLight: #28272F;
$violet: #7265FF;
$gray: #73717C;

$font: "BasisGrotesque", Arial, sans-serif;
$fontBasicGP: "BasisGrotesquePro", Arial, sans-serif;
$fontBranch: "Branch", Arial, sans-serif;
$fontOffBT: "OffBitTrial", Arial, sans-serif;
$fontPlusJD: "PlusJakartaDisplay", Arial, sans-serif;