@import "../../../../../assets/scss/vars";

.features {
  background: #131313;
  padding: 128px 0 104px;
  position: relative;
  overflow-x: clip;
  
  @media only screen and (max-width: $desktop-l) {
    padding: get-vw(128px) 0 get-vw(104px);
  }
  @media only screen and (max-width: $mobile) {
    padding: 70px 0 64px;
  }
  &:after {
    @include content;
    background: url("../../../../../assets/img/Features/textBottom.svg") center center repeat-x;
    background-size: contain;
    width: 100%;
    height: 32px;
    left: 0;
    top: -16px;
    mix-blend-mode: difference;
    animation: backgroundPosition 300s infinite linear;
    @media only screen and (max-width: $desktop-l) {
      height: get-vw(32px);
      top: get-vw(-16px);
    }
    @media only screen and (max-width: $mobile) {
      height: 22px;
      top: -11px;
      background-size: cover;
    }
  }

  &-container {
    @media only screen and (max-width: $mobile) {
      height: auto !important;
    }
    .wr {
      position: sticky;
      top: 0;
      @media only screen and (max-width: $mobile) {
        position: static;
      }
    }
  }

  &-inner {
    position: relative;
    overflow: hidden;
  }

  &-content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    position: relative;
    @media only screen and (max-width: $mobile) {
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    &:after {
      position: absolute;
      display: block;
      content: "";
      background: url("../../../../../assets/img/Black.svg") center center no-repeat;
      background-size: contain;
      width: 55px;
      height: 65px;
      top: 8%;
      left: 28%;
      @media only screen and (max-width: $desktop-l) {
        width: get-vw(55px);
        height: get-vw(65px);
      }
      @media only screen and (max-width: $mobile) {
        width: 65px;
        height: 65px;
        top: 50%;
        left: -37px;
        margin-top: -168px;
      }
    }
    &:before {
      position: absolute;
      display: block;
      content: "";
      width: 55px;
      height: 65px;
      background: url("../../../../../assets/img/White.svg") center center no-repeat;
      background-size: contain;
      bottom: 5%;
      left: 13%;
      @media only screen and (max-width: $desktop-l) {
        width: get-vw(55px);
        height: get-vw(65px);
      }
      @media only screen and (max-width: $mobile) {
        width: 65px;
        height: 65px;
        left: 93%;
      }
    }
  }

  &-left {
    width: 62%;
    height: 870px;
    position: sticky;
    top: 0;
    z-index: 1;
    margin-left: -30px;
    @media only screen and (max-width: $desktop-l) {
      height: get-vw(900px);
      margin-left: 30px;
    }
    @media only screen and (max-width: $mobile) {
      position: relative;
      width: calc(100% + 30px);
      height: 600px;
      min-height: 538px;
      margin: -70px -15px 0;
      padding: 70px 15px 0;
      text-align: center;
      overflow: hidden;
    }
  }

  &-item {
    font-family: $fontBranch;
    font-style: normal;
    font-weight: 400;
    font-size: 180px;
    line-height: 1.07;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: difference;
    writing-mode: vertical-rl;
    transform: scale(-1, -1) !important;
    @media only screen and (max-width: $desktop-l) {
      font-size: get-vw(180px);
    }
    @media only screen and (max-width: $mobile) {
      font-size: 56px;
      padding-bottom: 297px;
      writing-mode: horizontal-tb;
      transform: scale(1) !important;
    }
  }

  &-img {
    width: 500px;
    height: 500px;
    position: absolute;
    transform: translate(24px, -637px);
    @media only screen and (max-width: $desktop-l) {
      width: get-vw(500px);
      height: get-vw(500px);
      transform: translate(get-vw(24px), get-vw(-600px));
    }
    @media only screen and (max-width: $mobile) {
      width: 307px;
      height: 307px;
      top: 111px;
      left: 50%;
      margin-left: -155px;
      transform: translate(0, 0);
    }
    & > img {
      width: 500px;
      height: 500px;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      position: relative;
    }
    &:after,
    &:before {
      @include content;
      background: url("../../../../../assets/img/Features/Ellipse.svg") center center no-repeat;
      background-size: contain;
      width: 878px;
      height: 640px;
      z-index: 1;
      @media only screen and (max-width: $desktop-l) {
        width: get-vw(878px);
        height: get-vw(640px);
      }
      @media only screen and (max-width: $mobile) {
        width: 590px;
        height: 619px;
      }
    }
    &:after {
      top: -30%;
      left: -60%;
      @media only screen and (max-width: $mobile) {
        transform: translate(-86px, -140px);
        top: 0;
        left: 0;
      }
    }
    &:before {
      top: -40%;
      left: -55%;
      @media only screen and (max-width: $mobile) {
        transform: translate(-86px, -111px);
        top: 0;
        left: 0;
      }
    }
  }

  &-link {
    position: absolute;
    mix-blend-mode: difference;
    width: 115px;
    height: 115px;
    z-index: 3;
    left: 65%;
    display: block;
    top: 70%;
    @media only screen and (max-width: $desktop-l) {
      width: get-vw(115px);
      height: get-vw(115px);
    }
    @media only screen and (max-width: $mobile) {
      width: 70px;
      height: 70px;
      top: 75%;
      left: 72%;
    }
  }

  &-paragraph {
    font-family: $fontOffBT;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ECECEC;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 20%;
    left: 22.7%;
    @media only screen and (max-width: $desktop-l) {
      font-size: get-vw(15px);
    }
    @media only screen and (max-width: $tablet) {
      font-size: get-vw-td(12px);
    }
    @media only screen and (max-width: $mobile) {
      font-size: 14px;
      max-width: 290px;
      margin: 0 auto 20px;
      position: initial;
      top: 0;
      left: 0;
      text-align: initial;
    }

    &-text {
      width: 100%;
      margin: 0 0 5px;
      span {
        display: block;
        @media only screen and (max-width: $mobile) {
          padding: 0 !important;
        }
      }
    }

    .p-two {
      position: absolute;
      right: -106%;
      top: 84%;
      @media only screen and (max-width: $mobile) {
        right: 0;
        top: 0;
        padding-left: 74px;
        position: initial;
      }
      span {
        display: block;
        &:nth-child(n) {
          padding-left: 20px;
        }
        &:nth-child(2n) {
          padding-left: 44px;
        }
        &:nth-child(3n) {
          padding-left: 60px;
        }
        &:nth-child(4n) {
          padding-left: 73px;
        }
      }
    }
  }

  &-right {
    width: 30.3%;
    position: relative;
    @media only screen and (max-width: $mobile) {
      width: 80%;
    }
  }

  &-line {
    height: 97.5%;
    background: rgba(#898989, 0.4);
    left: -83px;
    top: 0;
    position: absolute;
    width: 2px;
    @media only screen and (max-width: $desktop-l) {
      left: get-vw(-83px);
    }
  }
  &-line-inner {
    background: #EAEAEA;
    width: 100%;
    position: absolute;
    top: 0;
    height: 105px;
    left: 0;
    @media only screen and (max-width: $mobile) {
      position: sticky;
    }
    &::after {
      @include content;
      background: linear-gradient(90deg, #F8DBB8 0%, #CCBBE4 46.15%, #9187FF 100%);
      opacity: 0.2;
      filter: blur(213.207px);
      width: 322px;
      height: 322px;
      left: 100%;
      top: 50%;
      margin-left: 80px;
      margin-top: -161px;
      @media only screen and (max-width: $desktop-l) {
        width: get-vw(322px);
        height: get-vw(322px);
        margin-left: get-vw(80px);
        margin-top: get-vw(-161px);
      }
    }
  }

  &-title {
    text-transform: uppercase;
    color: $white;
    opacity: 0.6;
    max-width: 350px;
    transition: opacity 0.3s;
    @media only screen and (max-width: $desktop-l) {
      max-width: get-vw(350px);
    }
    @media only screen and (max-width: $mobile) {
      font-size: 28px;
      margin-bottom: 16px;
      max-width: 95%;
    }
  }

  &-block {
    margin-bottom: 70px;
    
    @media only screen and (max-width: $desktop-l) {
      margin-bottom: get-vw(70px);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &-block-inner {
    &.active {
      .features-title,
      .features-text {
        opacity: 1;
      }
    }
  }

  &-text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    
    font-family: $font;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    color: $white;
    opacity: 0.6;
    transition: opacity 0.3s;
    max-width: 280px;
    @media only screen and (max-width: $desktop-l) {
      font-size: get-vw(15px);
    }
    @media only screen and (max-width: $tablet) {
      font-size: get-vw(18px);
    }
    @media only screen and (max-width: $mobile) {
      font-size: 14px;
      max-width: 95%;
    }
  }

  &-icon {
    margin-top: 70px;
    max-width: 55px;
    @media only screen and (max-width: $desktop-l) {
      margin-top: get-vw(70px);
      max-width: get-vw(55px);
    }
    @media only screen and (max-width: $mobile) {
      max-width: 55px;
      margin-top: 32px;
    }
    img {
      width: 100%;
      display: block;
    }
  }
}

@keyframes rotateAnimation {
  0% {transform: rotate(0);}
  100% {transform: rotate(360deg);}
}

@keyframes backgroundPosition {
  from {
    background-position: 0 center;
  }
  to {
    background-position: 40000px center;
  }
}