@import "../../../../../../../assets/scss/vars";

.TextArea {
    width: 100%;
}

.TextArea_title {
    width: 100%;

    color: #F6F6F6;
    font-size: 20px;
    font-weight: 500;
    line-height: 152.3%;

    opacity: .9;

    & span {
        margin-left: 10px;
        opacity: .6;
    }
}

.TextArea_input {
    width: 100%;
    min-height: 250px;
    margin-top: 20px;
    padding: 25px 55px;

    color: #FFFFFF;
    font-size: 20px;
    font-weight: 500;
    line-height: 152.3%;

    background-color: transparent;

    border: 1px solid #f6f6f647;
    border-radius: 41px;

    outline: none;
    resize: none;

    &::placeholder {
        opacity: 0.4;
    }
}