@import "../../../../../assets/scss/vars";

.Production {
  position: relative;
  overflow-x: clip;
  margin-top: get-vw(300px);
  padding-bottom: 150px;

  background-color: #131313;
}

.Production_bg {
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(get-vw(300px));
  width: 120%;
  height: get-vw(600px);
  background-color: #131313;

  border-radius: 50% 50% 49% 51% / 100% 100% 0% 0% ;

  z-index: -10;
}

.Production_title {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: #FFFFFF;
  font-size: 120px;
  line-height: 107.5%;
  font-family: $fontBranch;
  text-align: center;
  text-transform: uppercase;

  & .color {
    color: #7265FF;
  }

  & .offBit {
    font-family: $fontOffBT;
  }

  & .last {
    position: relative;

    &::before, &::after {
      content: '';
      position: absolute;
      bottom: 30px;

      width: 26px;
      height: 26px;

      background: #FFFFFF;

      border-radius: 100%;
    }

    &::before {
      right: -30px;
    }

    &::after {
      right: -70px;
    }
  }
}

.Production_des {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px; 

  position: relative;
  max-width: 700px;
  margin: 15px auto 0;
}

.Production_des_text {
  grid-area: 1 / 1 / 2 / 2;

  max-width: 290px;

  color: #A0A0A0;
  font-size: 15px;
  font-weight: 500;
  line-height: 19px;
  font-family: $fontPlusJD;
}

.Production_des_btn_container {
  grid-area: 1 / 2 / 2 / 3;

  position: relative;
}

.Production_des_btn_box {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: 1fr;
  grid-column-gap: 55px;
  grid-row-gap: 0px;

  position: absolute;
  top: -55px;
  right: -135px;
  align-items: end;
  mix-blend-mode: difference;
}

.Production_des_btn_text {
  grid-area: 1 / 1 / 2 / 2;

  color: #E2E2E2;
  font-size: 20px;
  line-height: 107.5%;
  font-family: $fontOffBT;
  text-transform: uppercase;
  text-align: right;
}

.Production_des_btn {
  grid-area: 1 / 2 / 2 / 3;

  min-width: unset;
  width: 115px;
  height: 115px;
  padding: 0;

  background-color: #fff;

  border: unset;
  border-radius: 100%;

  & img {
    width: 35%;
    transition: all .1s linear;
  }

  &:hover {
    & img {
      transform: rotate(180deg);
    }
  }
}

.Production_des_point {
  position: absolute;
  bottom: -35px;
  left: -100px;
}

.Production_items {
  margin-top: 240px;

  &_mob {
    display: none;
  }
}

.Production_item {
  display: flex;
  padding-bottom: 50px;
  gap: 180px;

  border-bottom: 2px solid rgba(255, 255, 255, 0.2);

  opacity: .2;
  transition: all .1s linear;

  & + & {
    margin-top: 80px;
  }

  &:hover {
    opacity: 1;

    .Production_item_title {
      & span {
        color: #7265FF;
      }
    }
  }
}

.Production_item_num {
  color: #FFFFFF;
  font-size: 120px;
  line-height: 107.5%;
  font-family: $fontBranch;
  text-transform: uppercase;

  & span {
    font-family: $fontOffBT;
  }
}

.Production_item_text {
  max-width: 315px;
}

.Production_item_title {
  color: #fff;
  font-size: 40px;
  line-height: 121.5%;
  font-family: $fontBranch;
  text-transform: uppercase;

  & span {
    color: #fff;
    font-family: $fontOffBT;

    transition: all .1s linear;
  }
}

.Production_item_subtitle {
  margin-top: 25px;

  color: #73717C;
  font-size: 15px;
  line-height: 19px;
  font-family: $fontPlusJD;
}

@media (max-width: 768px) {
  .Production_items {
    display: none;
  
    &_mob {
      display: block;
    }
  }
}