@import "../../../../../assets/scss/vars";

.Title {
    position: relative;
    padding: 40px 0 10px;
    margin-bottom: 150px;

    background-color: #131313;

    &::before {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 0;

        width: 100%;
        height: 150px;
        background-color: #131313;
        z-index: -10;
    }

    @media only screen and (max-width: $tablet) {
        margin-bottom: 50px;
    }
    @media only screen and (max-width: $mobile) {
        padding: 40px 0 70px;
    }
}

//Back
.Title-back {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);

    width: 100%;
    max-height: 752px;
    z-index: -10;

    & path {
        position: absolute;
        top: 0;
    }
}

//Content
.title_content {
    display: flex;
    justify-content: space-between;

    @media only screen and (max-width: $mobile) {
        flex-wrap: wrap;
    }
}

.title_content_left {
    width: 63%;

    padding-top: 35px;
}

.title_content_right {
    width: 32%;
}

@media only screen and (max-width: $mobile) {
    .title_content_right, .title_content_left {
        width: 100%;
    }
}

//Left
.title_content_left_sonr {
    display: flex;

    @media only screen and (max-width: $mobile) {
        justify-content: space-between;
    }
}

.title_content_left_sonr_item {
    color: $white;
    font-size: 20px;
    font-weight: 700;
    font-family: $fontOffBT;
    text-transform: uppercase;

    & + & {
        margin-left: 105px;
    }

    @media only screen and (max-width: $mobile) {
        font-size: 14px;

        & + & {
            margin-left: 0px;
        }
    }
}

.title_content_left_title {
    margin-top: 80px;
    padding-left: 90px;
    
    color: $white;
    font-size: 120px;
    font-family: $fontBranch;
    text-transform: uppercase;

    @media only screen and (max-width: $mobile) {
        margin-top: 10px;

        font-size: 64px;
        padding-left: 0px;
        text-align: center;
    }
}

.title_content_left_search_form {
    position: relative;
    width: 100%;
    margin-top: 100px;
}

.title_content_left_search_form_input_border {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #4e4e4e64;
    border-radius: 80px;
    pointer-events: none;
}

.title_content_left_search_form_input {
    position: relative;
    width: 100%;
    padding: 25px 56px;

    color: #2C2C2C;
    font-size: 20px;
    font-weight: 500;

    background-color: transparent;

    border: 0;

    outline: none;
    pointer-events: all;
    z-index: 50;

    &::placeholder {
        opacity: .4;
    }

    @media only screen and (max-width: $mobile) {
        padding: 25px 27px;

        font-size: 14px;
    }
}

.title_content_left_search_form_btn {
    position: absolute;
    right: 30px;
    top: -53px;

    display: flex;
    justify-content: center;
    align-items: center;
    min-width: auto;
    width: 115px;
    height: 115px;
    padding: 0;

    background-color: #000;

    border: 0;
    border-radius: 100%;

    cursor: pointer;
    z-index: 90;

    & img {
        width: 30%;
        transition: all .1s linear;
    }

    &:hover {
        background-color: #000;
        opacity: .8;

        & img {
            transform: rotate(180deg);
        }
    }

    @media only screen and (max-width: $mobile) {
        width: 67px;
        height: 67px;

        right: 0px;
        top: 50%;
        transform: translateY(-50%); 
    }
}

//Right
.title_content_right_title {
    color: $whiteLight_1;
    font-size: 15px;
    font-weight: 500;

    text-transform: uppercase;
    opacity: .5;

    @media only screen and (max-width: $mobile) {
        margin-top: 60px;

        font-size: 11px;
    }
}

.title_content_right_posts {
    margin-top: 30px;
}