@import "../../../../../assets/scss/vars";

.steps {
  padding: 186px 0 125px;
  @media only screen and (max-width: $desktop-l) {
    padding: get-vw(186px) 0 get-vw(125px);
  }
  @media only screen and (max-width: $mobile) {
    padding: 90px 0 72px;
  }

  .h1 {
    max-width: 1053px;
    margin: 0 auto 86px;
    text-align: center;
    position: relative;
    @media only screen and (max-width: $desktop-l) {
      max-width: get-vw(1053px);
      margin: 0 auto get-vw(86px);
    }
    @media only screen and (max-width: $mobile) {
      max-width: 97%;
    }
    &:after {
      @include content;
      background: url("../../../../../assets/img/Steps/figure.svg") center center no-repeat;
      background-size: contain;
      width: 55px;
      height: 39px;
      top: -22%;
      left: 50%;
      margin-left: -30px;
      @media only screen and (max-width: $desktop-l) {
        width: get-vw(55px);
        height: get-vw(39px);
        margin-left: get-vw(-30px);
      }
      @media only screen and (max-width: $mobile) {
        width: 55px;
        height: 39px;
        top: -70px;
        left: 50%;
      }
    }
  }

  &-block {
    width: 100%;
  }

  &-box {
    transition: all .3s;
    width: 100%;
    position: relative;
    display: flex !important;
    align-items: center;
    justify-content: space-between;
    padding: 50px 0 60px;
    &.aos-animate {
      opacity: 0.2 !important;
      transition: all .3s !important;
    }
    @media only screen and (max-width: $desktop-l) {
      padding: get-vw(50px) 0 get-vw(60px);
    }
    @media only screen and (max-width: $mobile) {
      padding: 32px 0 0;
      flex-direction: column;
      &.aos-animate {
        opacity: 1 !important;
      }
    }
    &:nth-child(2n) {
      .steps-img {
        transform: rotate(-90deg) scale(0.2);
        top: -45%;
        right: 2%;
      }
      &:hover {
        .steps-img {
          transform: rotate(0deg) scale(1.27);
        }
      }
    }
    &:nth-child(3n) {
      .steps-title {
        max-width: 300px;
        min-width: 280px;
        @media only screen and (max-width: $desktop-l) {
          max-width: get-vw(300px);
          min-width: get-vw(280px);
        }
      }
      .steps-img {
        top: -85%;
        right: 3%;
      }
      &:hover {
        .steps-img {
          transform: rotate(0deg) scale(1.1);
        }
      }
    }
    &:after {
      transition: background 0.3s;
      @include content;
      height: 2px;
      background: #000;
      bottom: 0;
      left: 0;
      right: 0;
      @media only screen and (max-width: $mobile) {
        content: none;
      }
    }
    &:hover {
      &.aos-animate {
        opacity: 1 !important;
      }
      &:after {
        background: rgba(#000, 0.1);
      }
      .steps-img {
        opacity: 1;
        transform: rotate(0deg) scale(1.27);
        @media only screen and (max-width: $mobile) {
          transform: rotate(0deg) scale(1);
        }
      }
    }
  }

  &-img {
    width: 462px;
    height: 552px;
    border-radius: 407px;
    z-index: -1;
    transition: all .4s;
    position: absolute;
    transform: rotate(90deg) scale(0.2);
    opacity: 0;
    top: 10%;
    right: 10%;
    @media only screen and (max-width: $desktop-l) {
      width: get-vw(462px);
      height: get-vw(552px);
    }
    @media only screen and (max-width: $mobile) {
      position: relative;
      top: 0;
      right: 0;
      width: 270px;
      height: 290px;
      opacity: 1;
      transform: none;
      margin: 0 auto;
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &-case {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    @media only screen and (max-width: $mobile) {
      opacity: 1;
      flex-direction: column;
      padding: 9px 9px;
    }
  }

  &-number {
    width: 100%;
    max-width: 130px;
    font-family: $fontBranch;
    font-size: 120px;
    line-height: 0.8;
    text-transform: uppercase;
    color: $black;
    @media only screen and (max-width: $desktop-l) {
      max-width: get-vw(130px);
      font-size: get-vw(120px);
    }
    @media only screen and (max-width: $mobile) {
      font-size: 56px;
      padding-bottom: 20px;
    }
  }

  &-text {
    width: 100%;
    max-width: 385px;
    margin-left: 235px;
    @media only screen and (max-width: $desktop-l) {
      max-width: get-vw(385px);
      margin-left: get-vw(235px);
    }
    @media only screen and (max-width: $mobile) {
      margin-left: 0;
      max-width: none;
    }
  }

  &-title {
    font-family: $fontBranch;
    font-weight: 522;
    font-size: 40px;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 23px;
    @media only screen and (max-width: $desktop-l) {
      font-size: get-vw(40px);
      margin-bottom: get-vw(23px);
    }
    @media only screen and (max-width: $mobile) {
      margin: 0 0 16px;
      font-size: 28px;
    }
  }

  &-description {
    max-width: 314px;
    font-family: $font;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.1;
    color: #73717C;
    @media only screen and (max-width: $desktop-l) {
      max-width: get-vw(314px);
      font-size: get-vw(15px);
    }
    @media only screen and (max-width: $tablet) {
      font-size: get-vw-td(15px);
    }
    @media only screen and (max-width: $mobile) {
      font-size: 15px;
      max-width: 80%;
    }
  }

//  slider
  .slick-dots {
    height: 0;
    bottom: 0;
  }

  .slick-dots li {
    width: 33.3%;
    margin: 0;
  }

  .slick-dots li button {
    width: 100%;
    margin: 0;
    padding: 0;
  }

  .slick-dots li button:before {
    content: "";
    border-bottom: 1px solid;
    width: 100%;
    height: 0;
  }
}
