@import "../../../../../../../assets/scss/vars";

.TimeLineItem {
    width: 100%;

    display: flex;
    justify-content: end;
    flex-wrap: wrap;

    & + & {
        margin-top: 325px;
    }
}

.TimeLineItem_header {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.TimeLineItem_header_img {
    position: absolute;
    top: 50%;
    transform: translateY(-55%);
    z-index: 100;

    &_1 {
        right: 455px;
    }

    &_2 {
        right: 455px;
    }

    &_3 {
        right: 500px;
    }

    &_4 {
        right: 215px;
    }

}

.TimeLineItem_header_year {
    color: #fff;
    font-size: 40px;
    font-family: $fontBranch;
}

.TimeLineItem_header_title {
    display: flex;
    overflow: hidden;
    margin: 0 auto;

    color: #000;
    font-size: 285px;
    font-family: $fontBranch;
    text-transform: uppercase;
}

.TimeLineItem_header_month {
    display: flex;
    overflow: hidden;
    height: 400px;
}

.TimeLineItem_header_month_item {
    margin-top: -170px;

    color: #fff;
    font-size: 500px;
    font-family: $fontBranch;
    text-transform: uppercase;
}

.TimeLineItem_content {
    position: relative;
    max-width: 390px;
    margin-top: 100px;

    &::before {
        content: '///';
        position: absolute;
        left: -150px;
        top: -20px;

        color: #fff;
        font-size: 50px;
        font-family: $fontOffBT;

        
    }

    &_footer {
        margin-top: 0px;

        &::before {
            color: #000;
        }
    }
}

.TimeLineItem_content_title {
    display: flex;
    flex-wrap: wrap;
    column-gap: 12px;
    overflow: hidden;

    color: #fff;
    font-size: 40px;
    line-height: 48px;
    font-family: $fontBranch;
    text-transform: uppercase;

    &_footer {
        color: #000;
    }
}

.TimeLineItem_content_title_inner {
    display: flex;
    overflow: hidden;
}

.TimeLineItem_content_des {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    column-gap: 6px;
    margin-top: 45px;

    color: #A0A0A0;
    font-size: 15px;
    font-weight: 500;
    line-height: 19px;

    &_footer {
        color: #000;
    }
}

.TimeLineItem_content_des_inner {
    display: flex;
    overflow: hidden;
}

@media (max-width : 1440px) {
    .TimeLineItem_header_month {
        height: 300px;
    }

    .TimeLineItem_header_month_item {
        margin-top: -150px;
        font-size: 400px;
    }

    .TimeLineItem_content {
        margin-top: 80px;
    }

    .TimeLineItem_header_title {
        padding-bottom: 20px;
    }

    .TimeLineItem_header_img {
        height: 260px;
    
        &_1 {
            right: 340px;
        }
    
        &_2 {
            right: 350px;
        }
    
        &_3 {
            right: 390px;
        }
    
        &_4 {
            right: 170px;
        }
    }
}

@media (max-width : 1024px) {
    .TimeLineItem {
        & + & {
            margin-top: 200px;
        }
    }

    .TimeLineItem_header_month {
        height: 250px;
    }

    .TimeLineItem_header_month_item {
        margin-top: -100px;
        font-size: 290px;
    }

    .TimeLineItem_content {
        margin-top: 80px;
    }

    .TimeLineItem_header_title {
        font-size: 180px;
        padding-bottom: 50px;
    }

    .TimeLineItem_header_img {
        height: 180px;

        transform: translateY(-60%);
    
        &_1 {
            right: 270px;

        }
    
        &_2 {
            right: 260px;
        }
    
        &_3 {
            right: 300px;
        }
    
        &_4 {
            right: 130px;
        }
    }
}

@media (max-width : 768px) {
    .TimeLineItem {
        & + & {
            margin-top: 150px;
        }
    }

    .TimeLineItem_header {
        flex-wrap: wrap;
    }

    .TimeLineItem_header_year {
        width: 100%;
    }

    .TimeLineItem_header_month {
        height: 210px;
    }

    .TimeLineItem_header_month_item {
        width: 100%;
        margin-top: -50px;
        font-size: 235px;
    }

    .TimeLineItem_content {
        margin-top: 80px;
        &::before {
            top: 0;
            left: -110px;
        }
    }

    .TimeLineItem_header_title {
        
        margin-top: 20px;
        font-size: 150px;   
        padding-bottom: 50px;
    }

    .TimeLineItem_header_img {
        height: 160px;
        transform: translateY(-25%);
    
        &_1 {
            left: 180px;
        }
    
        &_2 {
            left: 180px;
        }
    
        &_3 {
            left: 90px;
        }
    
        &_4 {
            left: 200px;
        }
    }
}

@media (max-width : 560px) {
    .TimeLineItem {
        & + & {
            margin-top: 80px;
        }
    }

    .TimeLineItem_header_month {
        height: 150px;
    }

    .TimeLineItem_header_month_item {
        width: 100%;
        margin-top: -50px;
        font-size: 150px;
    }

    .TimeLineItem_content {
        max-width: 230px;
        margin-top: 50px;
        &::before {
            top: 0;
            left: -100px;
        }
    }

    .TimeLineItem_content_title {
        font-size: 28px;
        line-height: 35px;
    }

    .TimeLineItem_header_title {
        margin-top: 50px;
        font-size: 80px;
    }

    .TimeLineItem_header_img {
        height: 100px;
        transform: translateY(-35%);
    
        &_1 {
            left: 115px;
        }
    
        &_2 {
            left: 115px;
        }
    
        &_3 {
            left: 65px;
        }
    
        &_4 {
            left: 120px;
        }
    }
}

@media (max-width : 375px) {
    .TimeLineItem_header_year {
        font-size: 28px;
    }

    .TimeLineItem_header_month {
        height: 130px;
    }

    .TimeLineItem_header_month_item {
        width: 100%;
        margin-top: -30px;
        font-size: 125px;
    }

    .TimeLineItem_content {
        max-width: 200px;
        margin-top: 30px;
        &::before {
            top: 0;
            left: -70px;
        }
    }

    .TimeLineItem_content_des {
        margin-top: 20px;
    }

    .TimeLineItem_header_title {
        margin-top: 50px;
        font-size: 64px;
    }

    .TimeLineItem_header_img {
        height: 80px;
        transform: translateY(-30%);
    
        &_1 {
            left: 100px;
        }
    
        &_2 {
            left: 100px;
        }
    
        &_3 {
            left: 60px;
        }
    
        &_4 {
            left: 105px;
        }
    }
}