@import "../../../../../assets/scss/vars";

.Subscribe {
    position: relative;
    margin-top: 155px;
    padding-bottom: 450px;
    overflow: hidden;
}

.Subscribe_container {
    max-width: 800px;
}

.Subscribe_box {
    position: relative;
    width: 100%;
    padding: 30px 0 45px;

    &::before, &::after {
        content: '';
        position: absolute;
        left: 0;

        width: 100%;
        height: 1px;

        background: linear-gradient(90deg, rgba(217, 217, 217, 0) 0%, #D9D9D9 49.48%, rgba(217, 217, 217, 0) 100%);
    }

    &::before {
        top: 0;
    }

    &::after {
        bottom: 0;
    }
}

.Subscribe_title {
    color: #28272F;
    font-size: 65px;
    line-height: 152.3%;
    font-family: $fontBranch;
    text-align: center;
    text-transform: uppercase;

    & span {
        color: $violet;
    }
}

.Subscribe_subtitle {
    margin-top: 25px;

    color: #28272F;
    font-size: 20px;
    font-weight: 500;
    font-family: $fontBasicGP;
    text-align: center;

    opacity: 0.2;
}

.Subscribe_btn_box {
    display: flex;
    justify-content: center;

    transform: translateY(20px);
}

.Subscribe_btn {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 21px 41px;

    color: #fff;
    font-size: 20px;
    font-weight: 500;
    font-family: $fontBasicGP;
    text-transform: none;

    background-color: #28272F;

    border: 0;
    border-radius: 82px;

    transition: all .2s ease-in-out;

    &:hover {
        color: #fff;
        background-color: #4d4c57;
    }

    &:focus {
        transform: rotate(-35.35deg);
    }
}

.Subscribe_btn_icon {
    width: 30px;
}

.Subscribe_sonr {
    position: absolute;
    width: 1100px;
    left: -300px;
    bottom: -600px;
}

@media (max-width: $desktop-l) {
    .Subscribe {
        margin-top: get-vw(155px);
        padding-bottom: get-vw(450px);
    }
    
    .Subscribe_container {
        max-width: get-vw(800px);
    }
    
    .Subscribe_box {
        padding: get-vw(30px) 0 get-vw(45px);
    }
    
    .Subscribe_title {
        font-size: get-vw(65px);
    }
    
    .Subscribe_subtitle {
        margin-top: get-vw(25px);

        font-size: get-vw(20px);
    }
    
    .Subscribe_btn_box {
        transform: translateY(get-vw(20px));
    }
    
    .Subscribe_btn {
        gap: get-vw(10px);
        padding: get-vw(21px) get-vw(41px);

        font-size: get-vw(20px);

        border-radius: get-vw(82px);
    }

    .Subscribe_btn_icon {
        width: get-vw(30px);
    }
    
    .Subscribe_sonr {
        width: get-vw(1100px);
        left: get-vw(-300px);
        bottom: get-vw(-600px);
    }
}

@media (max-width: $mobile) {
    .Subscribe {
        margin-top: get-vw-m(155px);
        padding-bottom: get-vw-m(450px);
    }
    
    .Subscribe_container {
        max-width: unset;
    }
    
    .Subscribe_box {
        padding: get-vw-m(30px) 0 get-vw-m(45px);
    }
    
    .Subscribe_title {
        font-size: get-vw-m(45px);
    }
    
    .Subscribe_subtitle {
        margin-top: get-vw-m(25px);

        font-size: get-vw-m(20px);
    }
    
    .Subscribe_btn_box {
        transform: translateY(get-vw-m(20px));
    }
    
    .Subscribe_btn {
        gap: get-vw-m(10px);
        padding: get-vw-m(21px) get-vw-m(41px);

        font-size: get-vw-m(20px);

        border-radius: get-vw-m(82px);
    }

    .Subscribe_btn_icon {
        width: get-vw-m(30px);
    }
    
    .Subscribe_sonr {
        width: get-vw-m(1100px);
        left: get-vw-m(-300px);
        bottom: get-vw-m(-300px);
    }
}

@media (max-width: $mobile-s) {
    .Subscribe {
        margin-top: get-vw-md(100px);
        padding-bottom: get-vw-md(250px);
    }
    
    .Subscribe_box {
        padding: get-vw-md(10px) 0 get-vw-md(45px);
    }
    
    .Subscribe_title {
        font-size: get-vw-md(25px);
    }
    
    .Subscribe_subtitle {
        margin-top: get-vw-md(22px);

        font-size: get-vw-md(16px);
    }
    
    .Subscribe_btn_box {
        transform: translateY(get-vw-md(20px));
    }
    
    .Subscribe_btn {
        gap: get-vw-md(10px);
        padding: get-vw-md(15px) get-vw-md(35px);

        font-size: get-vw-md(16px);

        border-radius: get-vw-md(82px);
    }

    .Subscribe_btn_icon {
        width: get-vw-md(25px);
    }
    
    .Subscribe_sonr {
        width: get-vw-md(1100px);
        left: get-vw-md(-100px);
        bottom: get-vw-md(-100px);
    }
}