@import "../../../../../assets/scss/vars";

.TimeLine {
    overflow-x: clip;
    position: relative;
    margin-top: 400px;
    padding-bottom: 160px;
    background-color: #131313;
}

.TimeLine_bg {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-50%) translateY(300px);
    width: 120%;
    height: 600px;
    background-color: #131313;

    border-radius: 50% 50% 49% 51% / 100% 100% 0% 0% ;

    z-index: -10;
}

.TimeLine_title {
    max-width: 90%;
    margin: 0 auto;

    color: #fff;
    font-size: 120px;
    font-family: $fontBranch;
    line-height: 120px;
    text-transform: uppercase;
    text-align: center;

    & span {
        font-family: $fontOffBT;
    }
}

.TimeLine_items {
    margin-top: 250px;
}

@media (max-width : 1440px) {
    .TimeLine {
        margin-top: 350px;
    }

    .TimeLine_bg {
        height: 400px;
        transform: translateX(-50%) translateY(200px);
    }

    .TimeLine_title {
        font-size: 80px;
        line-height: 80px;
    }
}

@media (max-width : 1024px) {
    .TimeLine {
        margin-top: 300px;
    }

    .TimeLine_bg {
        height: 300px;
        transform: translateX(-50%) translateY(150px);
    }

    .TimeLine_title {
        font-size: 60px;
        line-height: 80px;
    }

    .TimeLine_items {
        margin-top: 200px;
    }
}

@media (max-width : 768px) {
    .TimeLine {
        margin-top: 200px;
    }

    .TimeLine_bg {
        height: 200px;
        transform: translateX(-50%) translateY(100px);
    }

    .TimeLine_title {
        font-size: 60px;
        line-height: 80px;
    }

    .TimeLine_items {
        margin-top: 150px;
    }
}

@media (max-width : 560px) {
    .TimeLine {
        margin-top: 100px;
    }

    .TimeLine_title {
        font-size: 35px;
        line-height: 40px;
    }

    .TimeLine_items {
        margin-top: 60px;
    }
}