@import "../../assets/scss/vars";

.header {
  padding: 30px 0;
  @media only screen and (max-width: $desktop-l) {
    padding: get-vw(30px) 0;
  }
  @media only screen and (max-width: $tablet) {
    padding: 20px 0;
  }

  &.white {
    background-color: $blackLight;
    transition: all .3s;
  }

  &-content {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    @media only screen and (max-width: $mobile) {
      align-items: center;
      height: 32px;
    }
  }

  &-logo {
    width: 87px;
    @media only screen and (max-width: $desktop-l) {
      width: get-vw(87px);
    }
    @media only screen and (max-width: $mobile) {
      width: 84px;
    }
    a {
      width: 100%;
      display: block;
      img {
        display: block;
        width: 100%;
      }
    }
  }

  &-block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  &-btn {
    width: 12px;
    height: 12px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 0;
    background: transparent !important;
    box-shadow: none;
    border: none;
    z-index: 101;
    outline: none;
    cursor: none;
    min-width: 1px;
    pointer-events: none;
    margin: 4px 12px;
    @media only screen and (max-width: $mobile) {
      cursor: pointer;
      margin: 0;
      pointer-events: auto;
      width: 24px;
      height: 24px;
    }
    span {
      top: 0;
      background: $black;
      display: block;
      overflow: hidden;
      position: relative;
      background: transparent;
      width: 100%;
      height: 3px;
      transform: rotate(0);
      transition: all 0.25s ease-in-out;
      @media only screen and (max-width: $mobile) {
        height: 5px;
      }
      &::after,
      &::before{
        @include content;
        background: $black;
        width: 3px;
        height: 3px;
        border-radius: 100%;
        top: 0;
        @media only screen and (max-width: $mobile) {
          width: 5px;
          height: 5px;
        }
      }
      &::after {
        left: 0;
      }
      &::before {
        right: 0;
      }
      &:nth-child(1) {
        transform-origin: bottom left;
      }
      &:nth-child(2) {
        transform-origin: bottom left;
      }

      &.white {
        background: transparent;

        &::after,
        &::before {
          background: $white;
        }
      }
    }
    // Open menu
    @media only screen and (max-width: $mobile) {
      &.open {
        span {
          background: $black;
          height: 2px;
          width: 110%;
          &:nth-child(1) {
            transform: rotate(45deg) translate(3px, -1px);
          }
          &:nth-child(2) {
            transform: rotate(-45deg) translate(4px, 1px);
          }

          &.white {
            background: $white;
          }
        }
      }
    }
  }

  &-nav {
    align-items: stretch;
    @media only screen and (max-width: $mobile) {
      position: absolute;
      right: 0;
      top: 72px;
      height: calc(100vh - 72px);
      z-index: 1000;
      width: 100vw;
      padding: 72px 20px 40px;
      background: $whiteLight_1;
      transition: all .3s;
      opacity: 0;
      visibility: hidden;
      overflow: auto;
    }

    &.open {
      opacity: 1;
      visibility: visible;
    }

    &.white.open {
      background: $blackLight;
    }

    ul {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-direction: column;
      margin: 0;
      padding: 0;
      @media only screen and (max-width: $mobile) {
        gap: 32px;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
      }
      li {
        list-style-type: none;
        padding-bottom: 10px;
        @media only screen and (max-width: $tablet) {
          padding-bottom: 5px;
        }
        &:last-child {
          padding-bottom: 0;
        }
        a {
          transition: all .3s;
          text-decoration: none;
          border-bottom: 1px solid transparent;
          font-family: $font;
          font-weight: 700;
          font-size: 15px;
          line-height: 1.07;
          text-transform: uppercase;
          color: $blackLight;
          @media only screen and (max-width: $tablet) {
            font-size: 14px;
          }
          @media only screen and (max-width: $mobile) {
            font-weight: 400;
            border-bottom: 1px solid #f6f6f6;
            font-size: 32px;
            font-family: $fontBranch;
          }
          &:hover {
            border-bottom: 1px solid $blackLight;
            @media only screen and (max-width: $mobile) {
              color: #7265FF;
              border-bottom: 1px solid #7265FF;
              font-family: $fontOffBT;
            }
          }
          &.white {
            color: $whiteLight;
          }

          &.white:hover {
            border-color: $whiteLight;
          }
        }
      }
    }
  }

  .cards-button {
    display: none;
    @media only screen and (max-width: $mobile) {
      display: flex;
      padding-top: 98px;
      padding-right: 8px;
      .btn {
        padding: 20px 48px;

        &.white {
          background-color: $whiteLight;
          border-color: $whiteLight;
          color: $black;

          &:hover {
            color: $white;
            background-color: $black;
            border-color: $black;
          }
        }
      }
    }
    .c-link {
      border-color: $whiteLight_1;

      &.white {
        border-color: $blackLight;
        color: $white;
      }
    }
  }
}