@import "../../assets/scss/vars";

.features {
  background: #131313;
  padding: 128px 0 104px;
  position: relative;
  @media only screen and (max-width: $desktop-l) {
    padding: get-vw(128px) 0 get-vw(104px);
  }
  @media only screen and (max-width: $mobile) {
    padding: 70px 0 64px;
  }
  &:after {
    @include content;
    background: url("../../assets/img/Hero/textBottom.svg") center center no-repeat;
    background-size: contain;
    width: 100%;
    height: 32px;
    left: 0;
    top: -16px;
    mix-blend-mode: difference;
    @media only screen and (max-width: $desktop-l) {
      height: get-vw(32px);
      top: get-vw(-16px);
    }
    @media only screen and (max-width: $mobile) {
      width: 978px;
      height: 22px;
      top: -11px;
    }
  }

  &-container {
    .wr {
      position: sticky;
      top: 0;
    }
  }

  &-inner {
    position: relative;
    overflow: hidden;
  }

  &-content {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    @media only screen and (max-width: $mobile) {
      flex-direction: column;
    }
  }

  &-left {
    width: 62%;
    position: relative;
    z-index: 1;
    @media only screen and (max-width: $mobile) {
      width: 100%;
    }
  }

  &-item {
    font-family: $fontBranch;
    font-style: normal;
    font-weight: 400;
    font-size: 180px;
    line-height: 1.07;
    text-transform: uppercase;
    color: #FFFFFF;
    mix-blend-mode: difference;
    writing-mode: vertical-rl;
    transform: scale(-1, -1) !important;
    @media only screen and (max-width: $desktop-l) {
      font-size: get-vw(180px);
    }
    @media only screen and (max-width: $mobile) {
      font-size: 56px;
      writing-mode: horizontal-tb;
      transform: scale(1);
    }
  }

  &-img {
    width: 500px;
    height: 406px;
    position: absolute;
    transform: translate(24px, -600px);
    @media only screen and (max-width: $desktop-l) {
      width: get-vw(500px);
      height: get-vw(406px);
      transform: translate(get-vw(24px), get-vw(-600px));
    }
    img {
      display: block;
      width: 100%;
      height: 100%;
    }
    &:after,
    &:before {
      @include content;
      background: url("../../assets/img/Features/Ellipse.svg") center center no-repeat;
      background-size: contain;
      width: 878px;
      height: 640px;
      @media only screen and (max-width: $desktop-l) {
        width: get-vw(878px);
        height: get-vw(640px);
      }
    }
    &:after {
      top: -30%;
      left: -60%;
    }
    &:before {
      top: -40%;
      left: -55%;
    }
  }

  &-paragraph {
    font-family: $fontOffBT;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.2;
    text-transform: uppercase;
    color: #ECECEC;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 24%;
    left: 22.7%;
    @media only screen and (max-width: $desktop-l) {
      font-size: get-vw(15px);
    }
    @media only screen and (max-width: $tablet) {
      font-size: get-vw-td(12px);
    }

    &-text {
      width: 100%;
    }

    .p-two {
      position: absolute;
      right: -87%;
      top: 77%;
    }
  }

  &-right {
    width: 30.3%;
    position: relative;
    @media only screen and (max-width: $mobile) {
      width: 80%;
    }
  }

  &-line {
    height: 97.5%;
    background: rgba(#898989, 0.4);
    left: -83px;
    top: 0;
    position: absolute;
    width: 2px;
    @media only screen and (max-width: $desktop-l) {
      left: get-vw(-83px);
    }
  }
  &-line-inner {
    background: #EAEAEA;
    width: 100%;
    position: absolute;
    top: 0;
    height: 105px;
    left: 0;
    &::after {
      @include content;
      background: linear-gradient(90deg, #F8DBB8 0%, #CCBBE4 46.15%, #9187FF 100%);
      opacity: 0.2;
      filter: blur(213.207px);
      width: 322px;
      height: 322px;
      left: 100%;
      top: 50%;
      margin-left: 80px;
      margin-top: -161px;
    }
  }

  &-title {
    text-transform: uppercase;
    color: $white;
    opacity: 0.6;
    max-width: 350px;
    transition: opacity 0.3s;
    @media only screen and (max-width: $desktop-l) {
      max-width: get-vw(350px);
    }
    @media only screen and (max-width: $mobile) {
      font-size: 28px;
      margin-bottom: 16px;
      max-width: 248px;
    }
  }

  &-block {
    margin-bottom: 70px;
    
    @media only screen and (max-width: $desktop-l) {
      margin-bottom: get-vw(70px);
    }
    &:last-child {
      margin-bottom: 0;
    }
  }

  &-block-inner {
    &.active {
      .features-title,
      .features-text {
        opacity: 1;
      }
    }
  }

  &-text {
    font-family: $font;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 1.2;
    color: $white;
    opacity: 0.6;
    transition: opacity 0.3s;
    max-width: 280px;
    @media only screen and (max-width: $desktop-l) {
      font-size: get-vw(15px);
    }
    @media only screen and (max-width: $tablet) {
      font-size: get-vw(18px);
    }
    @media only screen and (max-width: $mobile) {
      font-size: 14px;
      max-width: 248px;
    }
  }

  &-icon {
    margin-top: 70px;
    max-width: 55px;
    @media only screen and (max-width: $desktop-l) {
      margin-top: get-vw(70px);
      max-width: get-vw(55px);
    }
    @media only screen and (max-width: $mobile) {
      max-width: 55px;
      margin-top: 32px;
    }
    img {
      width: 100%;
      display: block;
    }
  }
}