@import "../../../../../assets/scss/vars";

.hero {
  padding: 30px 0 94px;
  position: relative;

  @media only screen and (max-width: $desktop-l) {
    padding: get-vw(30px) 0 get-vw(94px);
  }

  @media only screen and (max-width: $tablet) {
    padding-top: 0;
  }

  @media only screen and (max-width: $mobile) {
    padding: 140px 0 82px;
  }

  &-videoBox {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 50px 10px 10px;
    background-color: #31313183;

    box-shadow: 5px 5px 50px 3px rgba(134, 134, 134, 0.5);

    overflow: hidden;
    z-index: 100;
    transition: .3s ease-in-out;
    transition-property: opacity, transform;

    &.hidden {
      pointer-events: none;
      opacity: 0;
      transform: scale(.8);
    }

    &-icon {
      
      position: absolute;
      right: 10px;
      top: 10px;
      width: 40px;

      opacity: .2;

      transition: opacity .2s linear;
      cursor: pointer;

      &:hover {
        opacity: .4;
      }
    }

    &-video {
      width: 80%;
      height: 70%;
      border-radius: 45px;
    }
  }

  &-content {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
  }

  &-heading {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    max-width: 920px;
    width: 100%;
    margin: 0 auto 30px;
    gap: 104px;

    @media only screen and (max-width: $desktop-l) {
      max-width: get-vw(920px);
      margin-bottom: get-vw(30px);
      gap: get-vw(104px);
    }

    @media only screen and (max-width: $tablet) {
      max-width: get-vw-td(920px);
      margin-bottom: 20px;
    }

    @media only screen and (max-width: $mobile) {
      margin-bottom: 24px;
      gap: 0;
      justify-content: space-between;
      max-width: get-vw-md(272px);
    }

    &-item {
      font-family: $fontOffBT;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.07;
      text-transform: uppercase;
      color: $blackLight;

      @media only screen and (max-width: $desktop-l) {
        font-size: get-vw(20px);
      }

      @media only screen and (max-width: $tablet) {
        font-size: get-vw-td(18px);
      }

      @media only screen and (max-width: $mobile) {
        font-size: 14px;
        max-width: none;
      }

      &:last-child {
        padding: 0;
      }
    }
  }

  &-description {
    margin: 0 auto 33px;
    text-align: center;
    max-width: 1000px;
    position: relative;
    @media only screen and (max-width: $desktop-l) {
      margin-bottom: get-vw(22px);
      max-width: get-vw(1000px);
    }
    @media only screen and (max-width: $tablet) {
      margin-bottom: get-vw-td(22px);
      max-width: get-vw-td(1000px);
    }
    @media only screen and (max-width: $mobile) {
      max-width: none;
      margin-bottom: 24px;
      position: static;
    }
  }

  &-title,
  &-subtitle,
  &-last-title {
    margin: 0;
    overflow: hidden;
  }

  &-title {
    font-family: $fontBranch;
  }

  .b-title-text {
    display: block;
  }

  &-last-title {
    position: relative;
  }

  &-subtitle {
    font-family: $fontOffBT;
    .b-title-text {
      display: flex;
      align-items: flex-start;
      justify-content: center;
    }
  }

  &-earth {
    width: 190px;
    @media only screen and (max-width: $desktop-l) {
      width: get-vw(190px);
    }
    @media only screen and (max-width: $tablet) {
      width: get-vw-td(140px);
    }
    @media only screen and (max-width: $mobile) {
      width: get-vw-md(50px);
    }
    img {
      width: 100%;
      display: block;
    }
  }

  &-block {
    max-width: 945px;
    margin: 0 auto 51px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 11%;
    @media only screen and (max-width: $desktop-l) {
      max-width: get-vw(1100px);
      margin-bottom: get-vw(53px);
      gap: get-vw(204px);
    }

    @media only screen and (max-width: $tablet) {
      max-width: get-vw-td(1100px);
      padding-right: 0;
    }

    @media only screen and (max-width: $mobile) {
      flex-direction: column;
      align-items: flex-start;
      gap: 0;
      margin-bottom: 40px;
    }

    &-left {
      display: flex;
      align-items: center;
      justify-content: center;
      @media only screen and (max-width: $mobile) {
        order: 2;
        flex-direction: column;
        gap: 16px;
        width: 100%;
      }
    }

    &-text {
      font-family: $fontOffBT;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 1.07;
      text-transform: uppercase;
      color: $blackLight;
      padding-right: 23px;

      @media only screen and (max-width: $desktop-l) {
        font-size: get-vw(20px);
      }

      @media only screen and (max-width: $tablet) {
        font-size: get-vw-td(18px);
      }

      @media only screen and (max-width: $mobile) {
        order: 2;
        font-size: 18px;
        padding-right: 0;
      }
    }

    &-img {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 116px;
      height: 116px;

      background-color: #000;

      border-radius: 100%;

      @media only screen and (max-width: $desktop-l) {
        width: get-vw(116px);
        height: get-vw(116px);
      }

      @media only screen and (max-width: $mobile) {
        width: 72px;
        height: 72px;
        order: 1;
      }

      img {
        width: 30%;
        
        transition: all .1s linear;

        
      }
      &:hover {

        img {
          transform: rotate(180deg);
        }
      }
    }

    &-right {
      max-width: 245px;
      width: 100%;
      font-family: $fontPlusJD;
      font-style: normal;
      font-weight: 500;
      font-size: 15px;
      line-height: 1.2;
      color: $blackLight;

      @media only screen and (max-width: $desktop-l) {
        max-width: get-vw(245px);
        font-size: get-vw(15px);
      }

      @media only screen and (max-width: $tablet) {
        font-size: get-vw-td(13px);
      }

      @media only screen and (max-width: $mobile) {
        order: 1;
        max-width: 240px;
        font-size: 14px;
        margin-bottom: 40px;
      }
    }
  }

  &-bottom {
    text-align: right;
    margin: 0 auto;
    max-width: 1110px;
    font-family: $fontBasicGP;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 1.07;
    text-transform: uppercase;
    color: $blackLight;
    @media only screen and (max-width: $desktop-l) {
      font-size: get-vw(15px);
    }
    @media only screen and (max-width: $tablet) {
      font-size: get-vw-td(13px);
    }

    @media only screen and (max-width: $mobile) {
      max-width: 170px;
      font-size: 14px;
      margin: 0 auto;
      br {
        display: none;
      }
    }
  }

  &-white {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 90px;
    left: 50%;
    z-index: 0;
    margin-left: -415px;
    @media only screen and (max-width: $desktop-l) {
      width: get-vw(60px);
      height: get-vw(60px);
      bottom: get-vw(90px);
      margin-left: get-vw(-415px);
    }
    @media only screen and (max-width: $mobile) {
      width: 50px;
      height: 50px;
      margin-left: 75px;
      bottom: 220px;
    }
  }
}

.Title_bg_text {
  position: absolute;
  background: url("../../../../../assets/img/Features/textBottom.svg") center center repeat-x;
  background-size: cover;
  width: 100%;
  height: 30px;
  left: 0;
  bottom: -14px;
  mix-blend-mode: difference;
  z-index: 50;
  animation: backgroundPosition 400s infinite linear;

  @media only screen and (max-width: $desktop-l) {
    height: get-vw(30px);
    bottom: get-vw(-14px);
  }
  @media only screen and (max-width: $mobile) {
    height: 25px;
    bottom: -12px;
  }
}
