@import "../../../../../../assets/scss/vars";

.Requirement {
    display: flex;
    width: 100%;
    padding-bottom: 44px;

    border-bottom: 2px solid rgba(0, 0, 0, 0.2);

    opacity: 0.9;
}

.Requirement_num {
    width: 35%;

    color: #28272F;
    font-size: 26px;
    font-weight: 500;
    line-height: 121.5%;
    text-decoration-line: underline;
    text-transform: uppercase;

    
}

.Requirement_text {
    width: 65%;

    color: #28272F;
    font-size: 26px;
    font-weight: 500;
    line-height: 121.5%;
    text-transform: uppercase;
}