@import "../../../../../assets/scss/vars";

.Slider {
    padding: 80px 0;
}

.Slider_container {
    padding-left: 0;
    padding-right: 0;
}

.Slider_arrows {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 35px;
    margin: 0 auto;

    & img {
        opacity: 0;
    }
}

.Slider_container {
    position: relative;
    overflow-x: clip;
    overflow-y: clip;
}

.Slider_box {
    margin-top: 50px;
    
}

.Slider_box_item {
    position: sticky;
    top: 0;
    width: 100%;
    height: 585px;
    padding: 90px 150px;
    overflow: hidden;

    box-shadow: 0px -10px 100px 0px rgba(0,0,0,.1);

    transition: all .2s linear;

    @media only screen and (max-width: $desktop-l) {
        height: get-vw(585px);
        padding: get-vw(90px) get-vw(150px);
    }
    @media only screen and (max-width: $tablet) {
        height: get-vw-td(585px);
        padding: get-vw-td(90px) get-vw-td(150px);
    }

    @media only screen and (max-width: $mobile) {
        height: get-vw-md(330px);
        padding: get-vw-md(25px) get-vw-md(30px);
    }

    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;

        background: linear-gradient(0deg, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.6306723372942927) 100%);

        transition: all .2s ease-in-out;
        opacity: 0;
        z-index: 10;
    }

    &.right {
        display: flex;
        justify-content: flex-end;

        @media only screen and (max-width: $tablet) {
            justify-content: start;
        }
    }

    // &.active::before {
    //     opacity: .2;
    // }

    // &.active {
    //     box-shadow: 0px -10px 100px 50px rgba(0,0,0,.6);
    // }
    &_1 {
        background-color: #C1C7FF;
    }
    &_2 {
        background-color: #EFCBF5;
    }
    &_3 {
        background-color: #C9E5FF;
    }
    &_4 {
        background-color: #C9FFF5;
    }
}

.Slider_box_item_bg {
    position: absolute;
    height: auto;

    &_1_1 {
        width: 873px;
        top: -412px;
        right: -186px;
        
    }
    &_1_2 {
        width: 659px;
        bottom: -92px;
        left: -231px;
    }

    &_2_1 {
        width: 856px;
        bottom: -372px;
        left: -186px;
    }
    &_2_2 {
        width: 440px;
        top: -30px;
        right: 45px;
    }

    &_3_1 {
        width: 683px;
        bottom: -88px;
        right: -103px;
    }
    &_3_2 {
        width: 660px;
        top: -79px;
        left: -37px;
    }

    &_4_1 {
        width: 700px;
        top: -250px;
        left: -80px;
    }
    &_4_2 {
        width: 420px;
        top: -10px;
        right: 8px;
    }
}

.Slider_box_item_title {  
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;

    color: #28272F;  
    font-size: 48px;
    line-height: 121.5%;
    font-family: $fontBranch;
    text-transform: uppercase;
    white-space: nowrap;

    & span {
        font-family: $fontOffBT;
    }

    &_1 {
        max-width: 350px;
    }
    &_2 {
        max-width: 350px;  
    }
    &_3 {
        max-width: 320px;  
    }
    &_4 {
        max-width: 200px; 
    }

    &_mob {
        display: none;
    }
}

.Slider_box_item_des {  
    margin-top: 20px;
    
    color: #28272F; 
    font-size: 18px;
    font-weight: 500;
    line-height: 115%;

    opacity: .6;

    &_1 {
        max-width: 340px;
    }
    &_2 {
        max-width: 340px;  
    }
    &_3 {
        max-width: 510px;  
    }
    &_4 {
        max-width: 335px; 
    }
}

.Slider_box_item_num {
    font-size: 144px;
    line-height: 121.5%;
    font-family: $fontOffBT;
}

.Slider_box_item_icon {
    position: absolute;
    top: 150px;
    left: 50%;
    transform: translateX(-50%);
}

@media (max-width: $desktop-l) {
    .Slider_box_item_bg {
        &_1_1 {
            width: get-vw(873px);
            top: get-vw(-412px);
            right: get-vw(-186px);
        }
        &_1_2 {
            width: get-vw(659px);
            bottom: get-vw(-92px);
            left: get-vw(-231px);
        }
    
        &_2_1 {
            width: get-vw(856px);
            bottom: get-vw(-372px);
            left: get-vw(-186px);
        }
        &_2_2 {
            width: get-vw(440px);
            top: get-vw(-30px);
            right: get-vw(45px);
        }
    
        &_3_1 {
            width: get-vw(683px);
            bottom: get-vw(-88px);
            right: get-vw(-103px);
        }
        &_3_2 {
            width: get-vw(660px);
            top: get-vw(-79px);
            left: get-vw(-37px);
        }
    
        &_4_1 {
            width: get-vw(700px);
            top: get-vw(-250px);
            left: get-vw(-80px);
        }
        &_4_2 {
            width: get-vw(420px);
            top: get-vw(-10px);
            right: get-vw(8px);
        }
    }
}
@media (max-width: $tablet) {
    .Slider_box_item_bg {
        &_1_1 {
            width: get-vw(870px);
            top: get-vw(-412px);
            right: get-vw(-186px);
        }
        &_1_2 {
            visibility: hidden;
        }
    
        &_2_1 {
            width: get-vw(870px);
            bottom: unset;
            left: unset;
            top: get-vw(-412px);
            right: get-vw(-186px);
        }
        &_2_2 {
            visibility: hidden;
        }
    
        &_3_1 {
            width: get-vw(870px);
            bottom: unset;
            top: get-vw(-412px);
            right: get-vw(-186px);
        }
        &_3_2 {
            visibility: hidden;
        }
    
        &_4_1 {
            width: get-vw(870px);
            left: unset;
            top: get-vw(-412px);
            right: get-vw(-186px);
        }
        &_4_2 {
            visibility: hidden;
        }
    }
}

@media (max-width: $mobile) {
    .Slider_box_item_bg {
        &_1_1,
        &_2_1,
        &_3_1,
        &_4_1 {
            width: get-vw-md(500px);
            top: get-vw-md(-130px);
            right: get-vw-md(-186px);
        }
    }

    .Slider_box_item_content {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }

    .Slider_box_item_title {  
        margin-top: 20px;

        font-size: get-vw-md(36px);
    }
    
    .Slider_box_item_des {  
        margin-top: 20px;
        
        font-size: get-vw-md(14px);
    }
    
    .Slider_box_item_num {
        font-size: get-vw-md(64px);
    }
}