@import "../../../../../assets/scss/vars";

.Cards {
    margin-top: 200px;
}

.Cards_title {
    width: 100%;

    color: #000;
    font-size: 120px;
    line-height: 107.5%;
    font-family: $fontBranch;
    text-transform: uppercase;
    text-align: center;
}

.Cards_box {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    row-gap: 45px;
    column-gap: 45px;
    margin-top: 80px;
}

@media(max-width: 768px) {
    .Cards_title {
        font-size: 80px;
    }
}

@media(max-width: 560px) {
    .Cards {
        margin-top: 150px;
    }

    .Cards_title {
        font-size: 45px;
    }

    .Cards_box {
        margin-top: 50px;
    }
}